{% load static %}

{% load crispy_forms_tags %}

<html>

    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    </head>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Сброс пароля завершен! </h3>

        <hr>

        <p> Ваш пароль был установлен. Теперь вы можете <a href="{% url 'user-login' %}">войти</a> с новым паролем. </p>

        <br>

        <a href="{% url 'home' %}"> Перейти на главную страницу. </a>

    </div>

</html>


